*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
a {text-decoration: none;}
li{list-style: none;}

.detail_main {
	margin: 20px;
	display: grid;
	grid-template-columns: 1fr 4fr 4fr 1fr;
}

.main_image {
	height: 500px;
	background-color: pink;
}

.main_content {
	height: 500px;
	background-color: lightgreen;
}

.detail_content {
	margin: 20px auto;
	width: 1000px;
	height: 300px;
	background-color: lightgray;
}

.detail_map {
	margin: 20px auto;
	width: 1000px;
	height: 400px;
	background-color: skyblue;
}

.detail_path {
	margin: 20px auto;
	width: 1000px;
	height: 300px;
	background-color: black;
}







